.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  width: 300px;
  margin-left: 40px;
}

.label {
  text-align: left;
  margin-bottom: -7px;
  font-size: 12px;
  color: #f4f4f4;
}

.input {
  width: 250px;
  height: 40px;
  outline: none;
  display: block;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 8px 20px;
  margin-bottom: 10px;
}

.validator {
  position: absolute;
  font-size: 10px;
  color: red;
  top: 56px;
  left: 10px;
}

.validatorNumber {
  position: absolute;
  font-size: 10px;
  color: red;
  top: 117px;
  left: 10px;
}

.btn {
  margin-top: 7px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(255, 97, 126);
  color: #f4f4f4;
}

.btn:hover,
.btn:focus {
  background-color: rgb(248, 54, 90);
}

.btn:active {
  background-color: rgb(252, 27, 68);
}
