.active {
  color: rgb(255, 97, 126);
}

.wrapperAuthNav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  color: #f3f3f3;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}
